
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}


.img{
    width: 150px;
    margin-left: 65px;
    margin-top: 20px;
}
.img-2{
    width: 140px;
    margin-left: 50px;
    margin-top: 20px;
}
.nav-w{
    width: 1200px;
}
 /* Area starts here */
.area{
    margin-left: 55px;
}
.area-1{
    margin-left: 79px;
}
.area-2{
    margin-left: 64px;
}
/* Area ends here */

/*---------------------------
    Text size starts here 
 ----------------------------*/
.title{
    margin-left: 60px;
    padding: 20px;
}
.title-2{
    margin-left: 53px;
    padding: 20px;
}
.title-3{
    margin-left: 87px;
    padding: 20px;
}
.title-4{
    margin-left: 35px;
    padding: 20px;
}
/*---------------------------
    Text size ends here 
 ----------------------------*/


/*-----------------------
    Button starts here 
 -------------------------*/
.button{
    margin-left: 35px;
    width: 200px;
    margin-top: 35px;
    border: 1px solid blue;
    border-radius: 5px;
}
.button-2{
    margin-left: 35px;
    margin-top: 60px;
    width: 200px;
    border: 1px solid blue;
    border-radius: 5px;

}
.button-3{
    margin-left: 35px;
    margin-top: 86px;
    width: 200px;
    border: 1px solid blue;
    border-radius: 5px;
}
.button-4{
    margin-left: 35px;
    margin-top: 55px;
    width: 200px;
    border: 1px solid blue;
    border-radius: 5px;

}
.button-5{
    margin-left: 35px;
    margin-top: 35px;
    width: 200px;
    border: 1px solid blue;
    border-radius: 5px;

}
.button-6{
    margin-left: 35px;
    margin-top: 75px;
    width: 200px;
    border: 1px solid blue;
    border-radius: 5px;

}

/* ----------------------
     Button ends here 
-------------------------*/
.section{
    border: 1px solid gray;
    border-radius: 5px;
    width: 270px;
    height: 360px;
    margin: 20px;
    transition: background-color 0.3s ease;
}
.section:hover {
    background-color: #e74c3c;
  }

.main{
    display: flex;
}
.main-section{
    margin-left: 30px;
    margin-top: 5px;
}
.b{
    margin-left: 20px;
    border: 1px solid rgb(240, 235, 235);
    background-color: rgb(240, 235, 235);
    border-radius: 3px;
    width: 70px;
    text-align: left;
    margin-top: 10px;
}
.w{
    margin-left: 30px;
    border: 1px solid rgb(240, 235, 235);
    background-color: rgb(240, 235, 235);
    border-radius: 3px;
    width: 70px;
    text-align: left;
    margin-top: 10px;
}
.span-b{
    margin-left: 67px;
}
.border-calculate{
    border: 1px solid gray;
    border-radius: 5px;
    width: 280px;
    height: 280px;
    margin-top: 20px;
    margin-right: 5px;
    
}
.solution{
    margin-left: 50px;
    padding: 15px;
}



/*hr{
    border: 1px solid black;
    margin: 20px;
    margin-top: 0px;
}*/



/*  Responsive */
@media only screen and (max-width: 768px){

    .main {
        flex-direction: column;
    }
    .nav-w{
        width: 100%;
    }
    .button,
    .button-2,
    .button-3,
     .button-4, 
     .button-5,
      .button-6{
         width: 220px;
         margin-top: 20px;
         margin-bottom: 20px;
    }
    .section{
        width: 290px;
        height: auto;
        
    }
    .main{
        display: block;
    }
    .main-section{
        margin-left: 50px;
    }
    .b, 
    .w{
        margin-left: 25px;
        width: 200px;
    }
    .span-b{
        margin-left: 50px;
    }
    .border-calculate{
        width: 290px;
        height: auto;
        margin-left: 20px;
    }
    .solution{
        margin-left: 55px;
    }
   
}
